@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: IRANSansXFaNum;
	font-style: normal;
	font-weight: 100;
	src: url('woff/IRANSansXFaNum-thin.woff') format('woff'),
		 url('woff2/IRANSansXFaNum-thin.woff2') format('woff2');
  }
  
  @font-face {
	font-family: IRANSansXFaNum;
	font-style: normal;
	font-weight: 200;
	src: url('/fonts/iransans/Woff/IRANSansXFaNum-UltraLight.woff') format('woff'),
		 url('/fonts/iransans/Woff2/IRANSansXFaNum-UltraLight.woff2') format('woff2');
  }
  
  @font-face {
	font-family: IRANSansXFaNum;
	font-style: normal;
	font-weight: 300;
	src: url('/fonts/iransans/Woff/IRANSansXFaNum-Light.woff') format('woff'),
		 url('/fonts/iransans/Woff2/IRANSansXFaNum-Light.woff2') format('woff2');
  }
  
  @font-face {
	font-family: IRANSansXFaNum;
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/iransans/Woff/IRANSansXFaNum-Medium.woff') format('woff'),
		 url('/fonts/iransans/Woff2/IRANSansXFaNum-Medium.woff2') format('woff2');
  }
  
  @font-face {
	font-family: IRANSansXFaNum;
	font-style: normal;
	font-weight: 600;
	src: url('/fonts/iransans/Woff/IRANSansXFaNum-DemiBold.woff') format('woff'),
		 url('/fonts/iransans/Woff2/IRANSansXFaNum-DemiBold.woff2') format('woff2');
  }
  
  @font-face {
	font-family: IRANSansXFaNum;
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/iransans/Woff/IRANSansXFaNum-Bold.wofff') format('woff'),
		 url('/fonts/iransans/Woff2/IRANSansXFaNum-Bold.woff2') format('woff2');
  }
  
  @font-face {
	font-family: IRANSansXFaNum;
	font-style: normal;
	font-weight: 800;
	src: url('/fonts/iransans/Woff/IRANSansXFaNum-ExtraBold.woff') format('woff'),
		 url('/fonts/iransans/Woff2/IRANSansXFaNum-ExtraBold.woff2') format('woff2');
  }
  
  @font-face {
	font-family: IRANSansXFaNum;
	font-style: normal;
	font-weight: 900;
	src: url('/fonts/iransans/Woff/IRANSansXFaNum-Black.woff') format('woff'),
		 url('/fonts/iransans/Woff2/IRANSansXFaNum-Black.woff2') format('woff2');
  }
  

@layer components {
	.reserveGpBtn {
	  @apply text-[1.6rem]  text-grey py-[1rem] px-[3rem] rounded-[6rem];
	}
  }


html{
  font-size: 62.5%;
  font-family: 'IRANSansXFaNum';
  font-weight: normal;
}

body {
  font-family: 'IRANSansXFaNum';
  font-weight: normal;
  /* padding-top:5rem;
  padding-left: 10rem;
  padding-right: 10rem; */
  direction: rtl;
  background-color: #f9f9f9;
}


h1,h2,h3,h4,h5,h6{
	
		font-family: 'IRANSansXFaNum', sans-serif !important;
		font-weight: 700 !important;
	
}

.svg {
	max-width: none !important;
	height: auto !important;
  }
  


a{
  text-decoration: none;
  color: inherit  ;
}
input:focus{
	outline: none;
}

.header{
	font-weight: 400;
}
.navbar ul li a:hover{
color: #fc4048;
}

.mySwiper{
	border-radius: 2.4rem;
}
.mySwiper .swiper-pagination-bullets{
padding-bottom: 4rem;
}
.mySwiper .swiper-pagination-bullet {
	background-color: #eee; 
	width: 6px;
	height: 6px;
	opacity: 0.6;
	border-radius: 50%;
	transition: background-color 0.3s ease, transform 0.3s ease;
  }
.mySwiper .swiper-pagination-bullet-active{
	background-color: white !important;
	width: 4rem;
	height: 6px;
	border-radius: 5px;
	opacity: 1;
}
.arrowBtn{
	transition: all 0.3s;
	transform: translate(-5px , -5px);
}



.bestTourCaption{
	transition: all 0.5s;
}

.activeSliderBtn{
	background-color: #fc4048;
}
.activeSliderBtn svg{
	fill:white;
}

.tourContainer::-webkit-scrollbar{
	display: none;
}



/* reponsiveness */

@media (max-width:900px) {
	html{
		font-size: 50%;
	}
	body{
		padding-top: 3rem;
		padding-left: 5rem;
		padding-right: 5rem;
	}
}

